---
import { Mention } from "../../lib/interfaces.ts";
import Icon from "@/components/Icon";

export interface Props {
	mention: Mention;
}

const { mention } = Astro.props;

if (!mention.LinkMention) {
	return null;
}

const {
	Href,
	Title,
	IconUrl,
	Description,
	LinkAuthor,
	ThumbnailUrl,
	Height,
	IframeUrl,
	LinkProvider,
} = mention.LinkMention;

if (!Href)
{
  return null;
}
const isEmbeddable = IframeUrl? true: false;
let id = "id" + Math.random().toString(16).slice(2);
const truncatedHref = Href && Href.length > 30 ? Href.slice(0, 30) + '...' : Href;
---

{
	isEmbeddable ? (
<>
			<a
				data-popover-target=`popover-description-${id}`
      data-popover-placement="bottom-end"
      data-popover-type-lm = "true"
				data-href={Href}
				href={Href}
        target="_blank"
			>
				{IconUrl ? (
					<>
						<img src={IconUrl} alt="" class="inline h-4 w-4 mb-0.5 flex-shrink-0 align-sub no-rss" />{" "}
					</>
				):
        <>
        <Icon name={"external-link-mention"} class="inline h-4 w-4 mb-0.5 align-sub" aria-hidden="true" />{" "}
        </>}
				{LinkProvider && LinkProvider!==Title && (
					<>
						<span class="text-link/80">{LinkProvider}</span>{" "}
					</>
				)}
				{Title && <span class="text-link">{Title}</span>}
			</a>
		</>
	) : (
		<>
			<a
				data-popover-target=`popover-description-${id}`
      data-popover-placement="bottom-end"
      data-popover-type-lm = "true"
				data-href={Href}
				href={Href}
        target="_blank"
			>
				{IconUrl ? (
					<>
						<img src={IconUrl} alt="" class="inline h-4 w-4 mb-0.5 flex-shrink-0 align-sub no-rss" />{" "}
					</>
				):
        <>
        <Icon name={"external-link-mention"} class="inline h-4 w-4 mb-0.5 align-sub" aria-hidden="true" />{" "}
        </>}
        {LinkProvider && LinkProvider!==Title && LinkProvider!==LinkAuthor && (
					<>
						<span class="text-link/70">{LinkProvider}</span>{" "}
					</>
				)}
				{LinkAuthor && LinkAuthor!==Title && (
					<>
						<span class="text-link/80">{LinkAuthor}</span>{" "}
					</>
				)}
				{Title && <span class="text-link">{Title}</span>}
			</a>
		</>
	)
}

<template id=`template-popover-description-${id}`>
	<div
		data-popover
		id=`popover-description-${id}`
		role="tooltip"
		class="popoverEl invisible absolute z-40 inline-block hidden w-72 rounded-lg bg-white text-sm text-gray-500 opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-800 dark:text-gray-400"
	>
  {isEmbeddable?
    (
          <div class="w-full min-h-[100px]" style={Height && Height>380?"height:380px":("height:"+Height?.toString()+"px")}>

                  <iframe
                    src={IframeUrl}
                    sandbox="allow-scripts allow-popups allow-top-navigation-by-user-activation allow-forms allow-same-origin allow-storage-access-by-user-activation allow-popups-to-escape-sandbox"
                    allowfullscreen=""
                    class="w-full h-full rounded-[1px] pointer-events-auto"
                  ></iframe>

          </div>
      ):(
  <a href={Href}>
    {
	ThumbnailUrl && (

					<img
						class="imagemedia block mx-auto min-w-0 max-w-full rounded-t-md"
						src={ThumbnailUrl}
						loading="lazy"
						alt={Title}
					/>

	)

}
<div class="mx-4 my-2 gap-2">
  {Title && <div class="text-sm line-clamp-2">{Title}</div>}
  {Description && <div class="text-xs line-clamp-3">{Description}</div>}
<div class="mt-4">
{IconUrl ? (
					<>
						<img src={IconUrl} alt="" class="inline h-4 w-4 mb-0.5 flex-shrink-0 align-sub no-rss" />{" "}
					</s>
				):
        <>
        <Icon name={"external-link-mention"} class="inline h-4 w-4 mb-0.5 align-sub" aria-hidden="true" />{" "}
        </>}
        {Href && <span class="text-xs text-link/80">{truncatedHref}</span>}
      </div>
      </div>
  </a>)}
</template>
