---
import * as interfaces from "@/lib/interfaces.ts";
import { getNotionColorToTailwindColor } from "@/utils/style-helpers";
import RichText from "@/components/notion-blocks/RichText.astro";
import NotionBlocks from "@/components/NotionBlocks.astro";
import Icon from "@/components/ui/Icon.astro";

export interface Props {
	block: interfaces.Block;
	renderChildren?: boolean; // Make this optional
	setId?: boolean;
}

const { block, renderChildren = true, setId = true } = Astro.props;
---

<div class="to-do" id={setId ? block.Id : undefined}>
	{
		block.ListItems.filter((b: interfaces.Block) => b.Type === "to_do").map(
			(b: interfaces.Block, index) => (
				<div class="todo-container" id={setId ? b.Id : undefined}>
					<div
						class:list={[
							"todo-item",
							{
								"todo-item-colored":
									b.ToDo.Color &&
									!["default", "default_background", "default-background"].includes(b.ToDo.Color),
								[`${getNotionColorToTailwindColor(b.ToDo.Color)}`]:
									b.ToDo.Color &&
									!["default", "default_background", "default-background"].includes(b.ToDo.Color),
							},
						]}
					>
						{/* Flex container for the checkbox and text */}
						<div class="todo-checkbox-wrapper">
							{/* Padding for the checkbox */}

							<Icon
								class="todo-checkbox-icon"
								name={b.ToDo.Checked ? "checkbox-checked" : "checkbox-unchecked"}
								aria-label={b.ToDo.Checked ? "checkbox-checked" : "checkbox-unchecked"}
								focusable="false"
							/>
							<span class="rss-only hidden">{b.ToDo.Checked ? "✅" : "⬜"}</span>
						</div>
						<div class="todo-text">
							{/* Container for text, taking up the rest of the space */}
							{b.ToDo.RichTexts.map((richText: interfaces.RichText) => {
								if (b.ToDo.Checked) {
									return (
										<span class="line-through decoration-slate-500/50">
											{/* Block element for the text */}
											<RichText richText={richText} blockID={b.Id} block={b} />
										</span>
									);
								}
								return <RichText richText={richText} blockID={b.Id} block={b} />;
							})}
						</div>
					</div>
					{b.HasChildren && renderChildren && (
						<div class="mt-1">
							{/* Margin for spacing between the to-do and its children */}
							<NotionBlocks
								blocks={b.ToDo.Children}
								renderChildren={renderChildren}
								setId={setId}
							/>
						</div>
					)}
				</div>
			),
		)
	}
</div>
