---
import { REFERENCES } from "@/constants";
import InternalLinksInThisPage from "./SiteLinksInThisPage.astro";
import LinksToThisPage from "./LinksToThisPage.astro";
import ExternalLinksInThisPage from "./ExternalLinksInThisPage.astro";
import MediaLinksInThisPage from "./MediaLinksInThisPage.astro";
import type { Post } from "@/lib/interfaces";
import { getReferencesInPage, getReferencesToPage } from "@/lib/blog-helpers";

interface Props {
	post: Post;
}
const { post } = Astro.props;

const allReferencesToPage = getReferencesToPage(post.PageId);

const allReferencesInPage = getReferencesInPage(post.PageId);
const filteredExternalNonMediaReferences = allReferencesInPage? allReferencesInPage.filter(ref => ref.external_hrefs.length > 0 || ref.direct_nonmedia_link):null;
const filteredSitePages = allReferencesInPage? allReferencesInPage.filter(ref => ref.other_pages.length>0 || ref.link_to_pageid):null;
const filteredMediaReferences = allReferencesInPage? allReferencesInPage.filter(ref => ref.direct_media_link):null;

---
<div data-pagefind-ignore="all">
{REFERENCES && REFERENCES["LINKS_TO_THIS_PAGE"] && allReferencesToPage && <LinksToThisPage post={post} allReferencesToPage={allReferencesToPage}/>}
{REFERENCES && REFERENCES["SITE_LINKS_IN_PAGE"] && filteredSitePages && <InternalLinksInThisPage post={post} filteredReferencesInPage={filteredSitePages}/>}
{REFERENCES && REFERENCES["EXTERNAL_LINKS_IN_PAGE"] && filteredExternalNonMediaReferences && <ExternalLinksInThisPage post={post} filteredReferencesInPage={filteredExternalNonMediaReferences}/>}
{REFERENCES && REFERENCES["MEDIA_AND_FILE_LINKS_IN_THIS_PAGE"] && filteredMediaReferences && <MediaLinksInThisPage post={post} filteredReferencesInPage={filteredMediaReferences}/>}
{
  REFERENCES && ((REFERENCES["LINKS_TO_THIS_PAGE"] && allReferencesToPage) || (REFERENCES["SITE_LINKS_IN_PAGE"] && filteredSitePages) || (REFERENCES["EXTERNAL_LINKS_IN_PAGE"] && filteredExternalNonMediaReferences) || (REFERENCES["MEDIA_AND_FILE_LINKS_IN_THIS_PAGE"] && filteredMediaReferences)) && <hr class="divider w-70 mx-auto my-4 h-0.5 rounded border-0 bg-accent/30" />
}
</div>

