---
import type { SiteMeta } from "@/types";
import BaseHead from "@/components/BaseHead";
import Header from "@/components/layout/Header";
import Footer from "@/components/layout/Footer";
import SkipLink from "@/components/SkipLink";
import { siteInfo } from "@/siteInfo";
import { ENABLE_LIGHTBOX, REFERENCES } from "@/constants";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { title = siteInfo.title, description = siteInfo.description, ogImage, articleDate },
} = Astro.props;

---

<html lang={siteInfo.lang}>
	<head>
		<BaseHead title={title} description={description} ogImage={ogImage} articleDate={articleDate} />
	</head>
	<body>
		<SkipLink />
		<Header />
		<main id="main" class="lg:w-[125%]">
			<slot />
		</main>
		<Footer />
    {/*Lightbox */}
{
  ENABLE_LIGHTBOX && (
  <script type="module" async>
  import 'https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js';

  window.addEventListener('load', () => {
    const lightbox = GLightbox({
      selector: '.mediaglightbox, .fileglightbox, .embedglightbox'
    });
  });
</script>
)


}
{
REFERENCES && (
<script type="module" async>
  import 'https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js';
</script>
  )
}

	</body>
</html>
